[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
[submodule "third_party/borealis"]
	path = third_party/borealis
	url = https://github.com/xfangfang/borealis.git
